.App {
  text-align: center;
  font-style: normal;
font: large;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: bold;
}

.App-container{
  display: flex;
  margin: 4em;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-flow: nowrap;
width:fit-content;
}

.container-form-create{
  flex:1;
  margin-top: 120px;
  margin-right: 4em;
}

.container-stickyNotes{
  flex: 4;
  margin:2em;
  
}
.App-header {
  margin-bottom: 15px;
  background-color:black;
  height: 50px;
  color: hsl(0, 100%, 50%);
  font: georgia;
  position: fixed;
  top: 0px;
  display: flex;
  padding:10px 30px;
  align-items: center;
  justify-content: space-between;
  width:100%;
  transition: padding 300ms ease;
opacity: .7;
z-index: 99;

}

.App-title {
  font-size: 1.5em;
  width: 100%;
}

.stickyNotes-Container{
  display: grid;
  position: relative;
  grid-template-columns: auto auto auto;
  grid-gap: 1em;
  margin-top: 7.6em;
}

.App-intro {
  font-size: large;
}

input[type=text], input[type=date], textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font:large;
  font-weight: bold;
  font-family:icon,Georgia, Times, 'Times New Roman', serif
}

input[type=date]:focus,input[type=date]:hover{

}
button {
  background-color:grey;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin:2em;
}

.form-Container{
  display: flex;
  flex-direction: column;
}


.form-create{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  display: table-cell;
  vertical-align: middle;
  height: 26em;
  border: 1px solid green;
  border-radius:10px;
width:16.35em;
  clear: both;
}

.form-Container{
  display: table-cell;
  padding:1em;
  vertical-align: middle;
  height: 50px;
  border: 1px solid red;
  border-radius:10px;
  width: 300px;
  background-color:#f2f2f2;
}

@media screen and (min-width: 400px) and (max-width:900px){
  .App {
    text-align: center;
    font-style: normal;
  font: large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  margin: 0;
  width: max-content;
  }
  .App-container{
       border-style: solid;
      border: .5em black;
      margin-top: 1em;
      width: 90%;
      padding-right: 2em;
      padding-left: 2em;
      margin: 0 auto;
     
      padding-top: 0px;
      padding-bottom: 0px;
      display:flex;
      flex-direction: column;
  }

  .App-title{
    margin-left: 5.5em;
  }
  .App-header {
    margin-bottom: 10px;
    background-color:black;
    margin: 0 auto;
    color: hsl(0, 100%, 50%);
    font: georgia;
    text-align: initial;
    position: fixed;
    top: 0px;
    display: flex;
    padding-left: 7em;
    align-items: center;
    justify-content: space-between;
    width:100%;
    transition: padding 300ms ease;
  opacity: .7;
  z-index: 99;
  
  
  }
  .container-form-create{
    flex:1;
    margin:10em auto auto;
    width: max-content;
    padding-left: 1em;
  }
  
  .container-stickyNotes{
    flex: 1;
    margin:2em;
    width:100%;
  }

  .stickyNotes-Container{
    display: grid;
    position: relative;
    grid-template-columns: auto  auto;
    grid-gap: 1em;
    margin-top: 7.6em;
    margin-top: 2.5em;
  }

  .form-create{
    border-radius: 5px;
    background-color: #f2f2f2;
    margin:0 auto;
    padding: 1em;
    display: table-cell;
    vertical-align: middle;
    height: 26em;
    border: 1px solid green;
    border-radius:10px;
  width: 17em;
    clear: both;

  }

  .mui-panel{
    width: 19em;
    border-radius:10px
  }

  .create-btn{
    margin-right: 2em;
    margin-left: 5.5em;
  }
}


@media screen and (max-width: 400px){
  .App {
    text-align: center;
    font-style: normal;
  font: large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  margin: 0 auto;
  width: max-content;
  }
  .App-container{
       border-style: solid;
      border: .5em black;
      margin-top: 1em;
      width: 90%;
      padding-right: 2em;
      padding-left: 2em;
      margin: 0 auto;
     
      padding-top: 0px;
      padding-bottom: 0px;
      display:flex;
      flex-direction: column;
  }
  .App-header {
    margin-bottom: 10px;
    background-color:black;
    margin: 0 auto;
    color: hsl(0, 100%, 50%);
    font: georgia;
    text-align: initial;
    position: fixed;
    top: 0px;
    display: flex;
    padding-left: 7em;
    align-items: center;
    justify-content: space-between;
    width:100%;
    transition: padding 300ms ease;
  opacity: .7;
  z-index: 99;
  
  
  }
  .container-form-create{
    flex:1;
    margin:10em 0em 0em 0em;
    width: max-content;
    padding-left: 1em;
  }
  
  .container-stickyNotes{
    flex: 1;
    margin:2em;
    width:100%;
  }

  .stickyNotes-Container{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 2.5em;
  }

  .form-create{
    border-radius: 5px;
    background-color: #f2f2f2;
    margin:0 auto;
    padding: 1em;
    display: table-cell;
    vertical-align: middle;
    height: 26em;
    border: 1px solid green;
    border-radius:10px;
  width: 17em;
    clear: both;

  }

  .mui-panel{
    width: 19em;
    border-radius:10px
  }

  .create-btn{
    margin-right: 2em;
    margin-left: 5.5em;
  }
}
.create{
  align-items:center ;
}

/* label,textarea,input,p{
display: inline-block;
vertical-align:middle;
/* margin-right:.5em;
justify-content: start; */
/* } */ */

input,.id,.task,.status{
display: inline-block;
vertical-align:middle;
width:50%;

clear: both;
justify-content: center;
padding:3em;
overflow-wrap: break-word;
}

h2{
  display: inline-block;
vertical-align: middle;
}

.mui-panel{
  width: 19em;
  margin: 0 auto;
}

textarea{
  height: 10em;
  margin-right: .7em;
  border-radius:10px;
  text-align:justify;
  padding: .5em;
  background-color:white;
  border: 1px solid black;

}

.task-textarea{
  height: 100px;
  margin: .7em;
  border-radius:10px;
  text-align:justify;
  padding: .5em;
  background-color:white;
  border: 1px solid black;
}



input,textarea:hover,input,textarea:focus{
  border: 1px solid blue;
}

button:hover, button:focus{
  border: 1px solid blue;
  background-color:white;
  color:red;
  font: large ;
  font-weight: bold;
}
.task{
  padding-right:2em;
  padding-left:2em;
}
.id{
  padding-top: 2em;
}

p{
  font: large;
  font-weight: bold;
  font-family: times, monospace, georgia, serif;
  background-color:white;
  padding:.7em;
  margin:.7em;
  border:1px solid black;
  border-radius:10px;
}

label{
  font: 5em;
}
.notes{
  text-align:left;
  margin: 0 auto;
}

button{
  margin-top: 0.4em;
  margin-bottom: 0;
}

.create-btn{
  margin-right: 2em;
  margin-left: 5.5em;
}