.App {
  text-align: center;
}

.App-container{
  display: flex;
  margin: 4em;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-flow: nowrap;
  flex:space-between;
}

.container-form-create{
  flex:1
}

.container-stickyNotes{
  flex: 4;
  margin:2em;
}
.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
  width:cover;

}

.App-title {
  font-size: 1.5em;
  width: 100%;
}

.stickyNotes-Container{
  display: grid;
  position: relative;
  grid-template-columns: auto auto auto;
  grid-gap: 45px;
}

.App-intro {
  font-size: large;
}

input[type=text], textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

button {
  background-color:grey;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin:2em;
}

.form-Container{
  display: flex;
  flex-direction: column;
}


.form-create{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  display: table-cell;
  vertical-align: middle;
  height: 50px;
  border: 1px solid red;
  border-radius:10px;
  
}

.form-Container{
  display: table-cell;
  vertical-align: middle;
  height: 50px;
  border: 1px solid red;
  border-radius:10px;
}